.container{
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  width:40%;
  gap: 10px;
}

.headerConstainer{
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  width:100%;
  justify-content: center;
  align-items: center;

}

.todosLogic{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border:2px solid blue;
  width:99%;
}

.inputData{
  width:98%;
  height:40px;
  border:2px solid orange;
  background-color: aquamarine;
  text-align: center;

}

.itemsContainer{
  border : 2px solid yellow;
  width: 99%;
}
ul{
  list-style-type: none;
}
.liCont {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 2px solid green;
  padding: 10px;
}

.icons-container {
  margin-left: auto;
  display: flex;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  margin-left: 10px; 
}

.editEd,
.delEd {
  font-size: 1.5rem;

}